aiofiles==0.4.0
aiohttp==3.5.4
asyncio==3.4.3
https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
matplotlib
pandas
requests
pyyaml
pillow
python>=3.6
pip
scikit-learn
scipy
spacy
fastai

